.about {
    margin-left: 5rem;
    margin-top: 2rem;
    margin-right: 5rem;
}

.text-red {
    color: #dc3545;
}

.social-buttons {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}