ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(140, 144, 148, 0.2) 0px 0px 6px;
    height: 3.5rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

li {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}

a.header-name {
    text-decoration: none;
    color: rgb(39, 39, 39);
}

a.header-right {
    text-decoration: none;
    color: #0d6efd;
}